__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/
.env
.venv
env/
venv/

.ipynb_checkpoints/
*.ipynb

*.csv
!data/fraud_dashboard_dataset.csv

.DS_Store
Thumbs.db
desktop.ini

.vscode/
.idea/
*.swp
*.swo

*.log
logs/

*.pbix.lock
